<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create CardPostion</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<form action="#" th:action="@{/card-create_{id}(id=${ref_id})}" method="Post">
    <ul class="unmarked">
        <li><label for="ref_id">PPV_Id(read_only):</label>
            <input readonly type="number" th:value="${ref_id}" id="ref_id" placeholder="PPV_id" class="rounded">
        </li> <input readonly hidden th:value="${ref_id}" name="ref_id">
        <li><label for="Numberinshow">Number in show:</label>
            <input type="number" th:field="${cardPostion.numberinshow}" id="Numberinshow"
                   placeholder="Number in show" name="numberinshow" class="rounded" min = "0">
        </li>
        <li><label for="Length">Length:</label>
            <input type="number" th:value="${cardPostion.Length}" id="Length"
                   placeholder="Length" name = "Length" class="rounded"  min = "0">
        </li>
        <li><label for="Titlename">Title name</label>
            <input type="text" th:value="${cardPostion.titlename}" id="Titlename" placeholder="Title name" name="titlename" class="rounded">
        </li>
        <li><label for="Winner">Winner:</label>
            <input type="text" th:value="${cardPostion.Winner}" id="Winner" placeholder="Winner" name="Winner" class="rounded">
        </li>
        <li><input type="submit" value="Create New cardPostion"></li>
        <li>
            <div><a th:href="@{/cards_{id}(id=${ref_id})}" id="go_home">Back to CardPostions </a></div>
        </li>
    </ul>
</form>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/cardform.js}"></script>
</body>
</html>