<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit CardPostion</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<form action="#" th:action="@{/card-update_{id}(id=${refId})}" method="Post">
    <ul class="unmarked">
        <li><label for="refId">PPV Id(read_only):</label>
            <input readonly type="number" th:value="${refId}" id="refId" placeholder="PPV id" class="rounded">
        </li>
        <input readonly hidden id="id" th:value="${cardPostion.id}" name="id">
        <li><label for="numberInShow">Number in show:</label>
            <input type="number" th:field="${cardPostion.numberInShow}" id="numberInShow"
                   placeholder="Number in show" name="numberInShow" class="rounded"  min = "0">
        </li>
            <li><label for="length">Length:</label>
                <input type="number" th:field="${cardPostion.length}" id="length"
                       placeholder="Length" name = "length" class="rounded"  min = "0">
            </li>
        <li><label for="titleName">Title name</label>
            <input type="text" th:field="${cardPostion.titleName}" id="titleName"
                   placeholder="Titlename" name="titleName" class="rounded">
        </li>
        <li><label for="winner">Winner:</label>
            <input type="text" th:field="${cardPostion.winner}" id="winner"
                   placeholder="Winner" name="winner" class="rounded">
        </li>
            <li><input type="submit" value="Edit cardPostion"></li><li>
        <div><a th:href="@{/cards_{id}(id=${refId})}" id= "go_home">Back to CardPostions </a></div>
    </li>
    </ul>
</form>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/cardform.js}"></script>

</body>
</html>