<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit CardPostion</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<form action="#" th:action="@{/fighter-update_{id}(id=${refId})}" method="Post">
    <ul class="unmarked">
        <li><label for="refId">Card Id(read_only):</label>
            <input readonly type="number" th:object="${refId}" id="refId" placeholder="Card id"
                   th:value="${refId}" th:name="refId" class="rounded">
        </li>
        <input readonly hidden id="id" th:value="${fighter.id}" name="id">
        <li>
            <label for="firstName">FirstName:</label>
            <input type="text" th:field="${fighter.firstName}" id="firstName" placeholder="FirstName" name="firstName" class="rounded">
        </li>
        <li>
            <label for="secondName">SecondName:</label>
            <input type="text" th:field="${fighter.secondName}" id="secondName" placeholder="SecondName" name="secondName" class="rounded">
        </li>
        <li>
            <label for="nationality">Nationality:</label>
            <input type="text" th:field="${fighter.nationality}" id="nationality" placeholder="Nationality" name="nationality" class="rounded">
        </li>
        <li>
            <label for="age">Age:</label>
            <input type="number" th:value="${fighter.Age}" id="age"
                   placeholder="Age" name="age" class="rounded" min = "0">
        </li>
        <li><input type="submit" value="Edit Fighter"></li>
        <li>
            <div><a th:href="@{/fighters_{id}(id=${refId})}" id= "go_home">Back to Fighters </a></div>
        </li>
    </ul>
</form>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/fighterform.js}"></script>
</body>
</html>
